/* css */
@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(https://source.unsplash.com/1600x900/?weather);
}

.section-left {
  width: 75vw;
  padding: 5rem 0rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

h1 {
  font-size: 1.2rem;
  flex-grow: 2;
}

.weather-today {
  display: flex;
  align-items: center;
}

.weather-today> :nth-child(n) {
  padding-right: 1rem;
}

.temperature {
  font-size: 10rem;
}

.location-name {
  margin-top: 0.5rem;
  font-size: 5rem;
  text-transform: capitalize;
}

.clock {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
}

.icon-weather {
  margin-top: 1rem;
  font-size: 4rem;
}

.weather-state {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.section-right {
  height: 100%;
  width: 25vw;
  padding: 5rem 2rem;
  color: #ced4da;
  font-weight: 500;
  backdrop-filter: blur(10rem);
  overflow: scroll;
  position: relative;
}

.search {
  border-bottom: 1px solid #ced4da;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 0.5rem;
  width: 65%;
  outline: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.search-input::placeholder {
  color: #ced4da;
}

.search-btn {
  border: none;
  background: orange;
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  outline: none;
}

.search-btn:hover>.icon-search {
  transform: scale(1.1);
  transition: all 0.2s;
}

.icon-search {
  display: block;
  font-size: 1.5rem;
  color: white;
}

.history {
  padding: 1.5rem 0rem;
}

.history> :nth-child(n) {
  padding: 1.5rem 0rem;
}

.history>li {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
}

.history>li:hover {
  color: white;
  cursor: pointer;
}

.remove-history {
  opacity: 0;
  border: none;
  background: transparent;
  color: #ced4da;
  font-size: 1rem;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
}

.history>li:hover .remove-history {
  opacity: 1;
}

.remove-history:hover {
  color: white;
}

.weather-detail {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 1.5rem;
}

h2 {
  padding: 3rem 0rem;
  color: white;
  font-size: 1.2rem;
}

.detail-state {
  display: flex;
  flex-direction: column;
}

.item,
.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.item :last-child {
  color: white;
}

.item:first-child,
.day:first-child {
  padding-top: 0rem;
}

.weather-week {
  padding-bottom: 2rem;
}

.copyright {
  text-align: right;
  padding: 0.2rem;
}

@media (max-width: 414px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: no-repeat center/cover url(https://source.unsplash.com/500x1000/?weather);
    overflow: scroll;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .section-left {
    width: 100%;
    height: 65vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1rem;
  }

  h1 {
    width: 100%;
    text-align: right;
  }

  .weather-today {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .temperature {
    font-size: 4rem;
  }

  .location-name {
    font-size: 3rem;
  }

  .clock {
    display: none;
  }

  .weather-state {
    font-size: 2.5rem;
  }

  .section-right {
    padding: 2rem;
    width: 100%;
    color: #ced4da;
    font-weight: 500;
    backdrop-filter: blur(5rem);
  }

  .search-btn {
    width: 4rem;
    height: 4rem;
  }
}