/* css */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(https://source.unsplash.com/1600x900/?color,orange);
}

.section-left {
  width: 70vw;
  padding: 5rem 5rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

h1 {
  font-size: 1.2rem;
  flex-grow: 2;
}

.weather-today {
  display: flex;
  align-items: center;
}

.weather-today > :nth-child(n) {
  padding-right: 1rem;
}

.temperature {
  font-size: 10rem;
}

.location {
  margin-top: 0.5rem;
}

.location-name {
  font-size: 4rem;
}

.time {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.weather-state {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.section-right {
  backdrop-filter: blur(3rem);
  height:100%;
  width: 30vw;
  color: #e9ecef;
  overflow: scroll;
}

