/* css */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(https://source.unsplash.com/1600x900/?weather);
}

.section-left {
  width: 70vw;
  padding: 5rem 5rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

h1 {
  font-size: 1.2rem;
  flex-grow: 2;
}

.weather-today {
  display: flex;
  align-items: center;
}

.weather-today> :nth-child(n) {
  padding-right: 1rem;
}

.temperature {
  font-size: 10rem;
}

.location {
  margin-top: 0.5rem;
}

.location-name {
  font-size: 4rem;
}

.time {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.weather-state {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.section-right {
  height: 100%;
  width: 30vw;
  padding: 5rem 2rem;
  color: #ced4da;
  font-weight: 500;
  backdrop-filter: blur(10rem);
  overflow: scroll;
  position: relative;
}

.search {
  border-bottom: 1px solid #ced4da;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  width: 70%;
  outline: none;
  color: inherit;
  font-weight: 500;
}

.search-input::placeholder {
  color: inherit;
}

.search-btn {
  border: none;
  background: orange;
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  outline: none;
}

.history {
  padding: 1.5rem 0rem;
}

.history :nth-child(n) {
  padding: 1.5rem 0rem;
}

.history > li {
  transition: all 0.2s;
}

.history > li:hover {
  color: white;
  cursor: pointer;
}

.weather-detail {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 1.5rem;
}

h2 {
  padding: 3rem 0rem;
  color: white;
  font-size: 1.2rem;
}

.detail-state {
  display: flex;
  flex-direction: column;
}

.item,
.day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.item :last-child {
  color: white;
}

.item:first-child,
.day:first-child {
  padding-top: 0rem;
}

.weather-week {
  padding-bottom: 3.5rem;
}